<h1 class="welcome fun-font green-font">Welcome to Kawaii Kandi</h1>
<h4>The cutest <%= link_to "kandi", products_path, class: "kandi" %> you'll ever find</h4>

<div>
	<h5> Totally Kute Totoro</h5>
	<%= image_tag("totorocookie.jpg", class: "img-responsive totoro") %>
</div>
