<div class="panel panel-default">
  <div class="panel-body col-md-12">
    <h1 class="fun-font green-font thank-you">Thank you!</h1>
    <div class="col-md-12">
      <%= image_tag("mail.jpg", class: "img-responsive mail") %>
    </div>
    <p>We have placed your message somewhere safe <br>and will respond as soon as possible ^ 3 ^</p>
    <%= link_to 'Back', :back, class:'btn btn-default' %>
  </div><!-- /panel-body -->
</div><!-- /panel -->

