/* line 5, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/comments.scss */
.review-section {
  padding-bottom: 100px;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 1, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 26, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 33, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 56, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 67, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 73, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 7, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.green-font {
  color: #42f4c5;
}

/* line 11, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.fun-font {
  font-family: 'Shadows Into Light', cursive;
}

/* line 15, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
footer {
  color: #fff;
  padding-top: 100px;
}

/* line 22, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.navbar {
  background-color: #ffb7e3;
  padding: 10px;
}

/* line 27, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.navbar
li {
  padding: 0 5px;
}

/* line 32, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.navbar li a {
  text-decoration: none;
  color: #fff;
}

/* line 37, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.navbar li a:hover {
  color: #42f4c5;
}

/* line 41, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
body {
  background-color: #fcfcfc;
  padding-top: 150px;
  padding-bottom: 100px;
}

/* line 48, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.logo {
  font-size: 2em;
  padding: 10 15;
  position: relative;
  color: #fff;
}

/* line 56, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.logo:hover {
  text-decoration: none;
  color: #42f4c5;
}

/* line 61, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
footer {
  width: 100%;
}

/* line 68, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.totoro {
  max-width: 300px;
}

/* line 72, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.kandi {
  text-decoration: none;
  color: #fff;
  background-color: #ffb7e3;
  border-radius: 10px;
  padding: 7px;
}

/* line 80, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.kandi:hover {
  text-decoration: none;
  color: #42f4c5;
  background-color: #fcfcfc;
}

/* line 86, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
.mail {
  padding: 5% 0;
}

/* line 90, /Users/lindseytaylor/Desktop/Rails_App/app/assets/stylesheets/static_pages.scss */
#image-carousel {
  width: 75%;
  margin: 0 auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.login-button {
	list-style: none;
	padding-left: px;
}

.button-space {
	margin: 10px 0;
}
