<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="fun-font green-font">Products</h1>
  
      <%= render @products %>
 
 
</div><!-- /container -->
 <%= link_to 'New Product', new_product_path, class:'btn btn-default btn-sm button-space' %>
<br>